@media only screen and (max-width: 768px) {
  .img {
    width: 200px;
  }
  .navbar-nav {
    border-bottom: none;
  }
  .navbar-nav {
    align-items: flex-end;
  }
  .navbar-nav {
    padding: 0;
  }
  .img{
    width: 200px;
  }
  .navbar-nav {
    border-bottom: none;
  }
  .navbar-nav{
    align-items: flex-end;
  }
  .navbar-nav{
    padding: 0;
  }
}
